<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div>
        <div class="header">
            <h1>MY STORE</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/Products">Products</a></li>
                <li>USERS</li>
                <li>LOGIN</li>
                <li>LOGOUT</li>
            </ul>
        </div>
        <div>
            <%- body %>
        </div>
        <div>
            <h3 class="footer">&copy; 2026. All rights reserved.</h3>
        </div>
    </div>
</body>
</html>